altgraph==0.17
certifi==2020.6.20
chardet==3.0.4
cx-Freeze==6.3
cx-logging==2.2
decorator==4.4.2
future==0.18.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==2.0.0
moviepy==1.0.3
numpy==1.19.3
pefile==2019.4.18
Pillow==8.0.1
proglog==0.1.9
pygame==2.0.0
pygame-menu==3.3.0
pyinstaller-hooks-contrib==2020.10
pyperclip==1.8.1
pywin32-ctypes==0.2.0
requests==2.24.0
tqdm==4.51.0
urllib3==1.25.11
zipp==3.4.0
